/* 使う配色：#E85A70 #4EA1D5 #EAEAEA #454552 */
body {
  color: #454552;
}
.code-header {
  background-color: #eaeaea;
  color: #e85a70;
}

.sub-title {
  background-color: #4ea1d5;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}
#formFile {
  color: #e85a70;
}
.form-control::file-selector-button {
  background-color: #e85a70;
  color: white;
}

.text-decoration-underline {
  text-decoration-color: #4ea1d5;
}
