{% extends 'differenceMethod/base.html' %} {% block title %}ログイン{% endblock
%} {% block body %}

<div class="container-fluid">
  <h3 class="title text-center text-decoration-underline">カイ二乗検定</h3>
  <div class="row justify-content-center">
    <div class="col-10">
      <h5 class="sub-title">カイ二乗検定とは</h5>
      <p>
        カテゴリー別のデータ（例えば、性別、年齢層、好みなど）がある特定の理論（世間一般的なモデル）や期待値（サイコロの出目）からどれだけ異なっているかを調べるのに使われます。<br />
        この検定は主に、観測されたデータと期待されたデータとの間に統計的に有意な差があるかどうかを判断するために使用されます。
        カイ二乗検定には大きく分けて二つの主要なタイプがあります<br />
        <b>適合度の検定：</b
        >これは、一つのカテゴリー内で観測されたデータが、ある理論やモデル（世間一般的なモデル）にどれだけ適合しているかを評価するために使用されます。例えば、「あるサイコロは公正か？」という問いに答えるために、各目が出る回数が期待される確率（この場合、各目が出る確率は1/6）とどれだけ異なるかを調べます。<br />
        <b>独立性の検定：</b
        >これは、二つのカテゴリー間の関連性が統計的に意味があるかどうかを評価するために使用されます。例えば、性別とある商品の好みが関連しているかどうかを調べる場合に用いられます。ここでは、男性と女性がそれぞれ商品A、B、Cをどれだけ好むかのデータから、性別による好みの違いが偶然によるものかどうかを判断します。<br />
        カイ二乗検定を行う際には、まず観測値と期待値の差を計算し、その差がどれだけ大きいかをカイ二乗統計量を用いて評価します。この統計量は、観測値と期待値の差を二乗し、期待値で割ったものの合計で、この値が大きいほど、観測値と期待値の間に大きな差があることを示します。そして、この統計量をもとに、データに統計的に有意な差があるかどうかを判断します。
        カイ二乗検定は、観測値が十分に大きい場合（通常は各カテゴリーでの観測回数が5以上）に適しています。
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <h5 class="sub-title">使用例</h5>
      <p>
        <b>適合度の検定：</b
        >日本人の年代別人口比率と、ある都市Aの年代別人口比率の差が偶然と呼べる範囲かどうか<br />
        <b>独立性の場合：</b>性別と病気Aの感染経験に関連があるかないか
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <h5 class="sub-title">csvから結果の計算</h5>
      <div class="file-form">
        <label for="formFile" class="form-label"
          >CSVファイルを選択してください</label
        >
        <input class="form-control" type="file" id="formFile" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <h5 class="sub-title">参考：pythonコード</h5>
      <div class="code-header d-flex">
        <p>python</p>
        <i id="copy-button" class="bi bi-clipboard ms-auto">copy code</i>
      </div>
      <pre><code class="language-python">
        def hello_world():
            print("Hello, World!")
        
        hello_world()
        </code></pre>
    </div>
  </div>
</div>
<!-- js読み込み -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script src="static\js\login.js"></script>
{% endblock %}
